body{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  margin: 50px;
  display: flex;;
  align-items: center;
  gap: 40px;
}

.grid {
  margin: 20px;
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}

.sqr {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.mole {
  background-color: blue;
}

.img{
  height: 200px;
  width: 200px;
  visibility: visible;
}

.btn{
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 20px;
  background-color: rgb(79, 79, 79);
  color: white;
}

.btn:hover{
background-color: black;
cursor: pointer;
}
.btns{
  display: flex;
  flex-direction: column;
  gap: 30px;
}